@model RestaurantWebsite.ViewModels.EmployeeDishViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero Section -->
<section id="hero" class="hero section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Yummy<br>Restaurant</h1>
                <p data-aos="fade-up" data-aos-delay="100">Nhà hàng Yummy là địa điểm lý tưởng cho các buổi tiệc, họp mặt, hay các sự kiện đặc biệt khác. Chúng tôi tự tin rằng sự chuyên nghiệp và tận tâm của đội ngũ nhân viên cùng không gian sang trọng sẽ làm hài lòng mọi khách hàng.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-get-started">Booka a Table</a>
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="./img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Về chúng tôi<br></h2>
        <p><span>Phương châm “Ngon miệng – Ấm lòng – Trọn vẹn trải nghiệm”</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="./img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Đặt lịch</h3>
                    <p>+84 361 136 1547</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Nhà hàng Yummy là một điểm đến lý tưởng dành cho những ai yêu thích ẩm thực chất lượng trong một không gian hiện đại, ấm cúng. Tọa lạc tại vị trí thuận tiện trong thành phố, Yummy mang đến cho thực khách sự đa dạng trong lựa chọn với thực đơn phong phú, kết hợp hài hòa giữa món ăn truyền thống Việt Nam và ẩm thực quốc tế.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Tổ Chức Tiệc Cưới.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Điểm tâm.</span></li>
                    </ul>
                    <p>
                        Nhà hàng nhận tổ chức và phục vụ nhiều loại hình tiệc:
                        Tiệc cưới theo yêu cầu của khách hàng: phong cách truyền thống Phương Đông hay phong cách hiện đại Phương Tây
                        Tiệc liên hoan, mừng thọ, họp mặt thân mật, v.v…
                        Tổ chức các sự kiện quan trọng như hội nghị khách hàng, đại hội, các buổi lễ ra mắt, v.v…
                        Nhận đặt ăn cho các đoàn khách du lịch.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="./img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->
<!-- Why Us Section -->
<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Tại sao chọn Yummy</h3>
                    <p>
                        Chúng tôi không chỉ phục vụ món ăn, mà còn mang đến trải nghiệm ẩm thực trọn vẹn – nơi mà khách hàng cảm thấy như đang thưởng thức bữa cơm nhà trong một không gian hiện đại, ấm cúng.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Chất lượng món ăn</h4>
                            <p>Các món ăn tại Yummy luôn được đánh giá cao nhờ hương vị đậm đà, trình bày đẹp mắt và được chế biến bởi đội ngũ đầu bếp giàu kinh nghiệm.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Không gian và dịch vụ</h4>
<p>
                                Nhà hàng có thiết kế hiện đại, sạch sẽ, tạo cảm giác thoải mái và thư giãn cho khách hàng. Đội ngũ nhân viên thân thiện, phục vụ nhanh chóng và tận tình.
</p>                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Giá cả hợp lý</h4>
                            <p> So với chất lượng và dịch vụ, mức giá tại Yummy rất phù hợp với nhiều đối tượng khách hàng, từ học sinh – sinh viên đến gia đình hoặc khách hàng doanh nghiệp.</p>
                        </div>
                    </div><!-- End Icon Box -->
                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Uy tín và thương hiệu</h4>
                            <p> Yummy đã xây dựng được uy tín vững chắc trong lòng khách hàng nhờ sự ổn định về chất lượng và sự sáng tạo không ngừng trong ẩm thực.</p>
                        </div>
                    </div><!-- End Icon Box -->
                </div>
            </div>

        </div>

    </div>

</section><!-- /Why Us Section -->
<!-- Stats Section -->
<section id="stats" class="stats section dark-background">

    <img src="./img/stats-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clients</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Workers</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->
<!-- Menu Section -->
<!-- Menu Section -->
<section id="menu" class="menu section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Danh sách món ăn</h2>
        <p><span>Thực đơn</span> <span class="description-title">của Yummy</span></p>
    </div>

    <div class="container">  


        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
          
            <div class="tab-pane fade active show" id="menu-starters">
                <div class="tab-header text-center">
                   
                </div>
                <div class="row gy-5">
                    @if (Model.Dishes != null && Model.Dishes.Any())
                    {
                        @foreach (var dish in Model.Dishes.Take(3))
                        {
                            <div class="col-lg-4 menu-item">
                                @if (!string.IsNullOrEmpty(dish.Img))
                                {
                                    <a href="~/img/menu/@dish.Img" class="glightbox"><img src="~/img/menu/@dish.Img" class="menu-img img-fluid" alt="@dish.DishName"></a>
                                }
                                else
                                {
                                    <img src="/img/menu/default.jpg" class="menu-img img-fluid" alt="No Image">
                                }
                                <h4>@dish.DishName</h4>
@*                                 <p class="ingredients">@dish.Category.CategoryName</p>
 *@                                <p class="price">$@dish.UnitPrice.ToString("F2")</p>
                            </div>
                           
                        }

                    }
                    else
                    {
                        <div class="col-12 text-center text-red-600">Không có món ăn nào trong danh mục Starters.</div>
                    }
                </div>
            </div>
         
        </div>
    </div>
</section><!-- /Menu Section --><!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>ĐÁNH GIÁ</h2>
        <p>Khách hàng <span class="description-title">nói gì về chúng tôi</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Saul Goodman</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="./img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Sara Wilsson</h3>
                                    <h4>Designer</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="./img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Jena Karlis</h3>
                                    <h4>Store Owner</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="./img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>John Larson</h3>
                                    <h4>Entrepreneur</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="./img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Testimonials Section -->
<section id="tables" class="chefs section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Danh sách bàn</h2>
        <p><span>Đặt bàn </span></p>
    </div>

    <div class="container">


        <div class="row gy-4">
             @foreach (var t in Model.DiningTables.Take(3))
                {
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                           
                                <img src="~/img/table/@t.Img" class="card-img-top" alt="@t.TableName" style="object-fit: cover; height: 300px;" />
                           
                            <div class="member-info">
                                <h4>@t.TableName</h4>
                                <p>@t.Location</p>
                               
                            </div>
                        </div>
                    </div>
                }
          
                </div>
            }
        </div>
    </div>
</section><!-- /Chefs Section -->
<!-- Chefs Section -->
<section id="chefs" class="chefs section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Nhân viên</h2>
        <p><span>Nhân viên nhà hàng</span></p>
    </div>

    <div class="container">
       

        <div class="row gy-4">
            @if (Model.Employees != null && Model.Employees.Any())
            {
                @foreach (var emp in Model.Employees.Take(3))
                {
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            @if (!string.IsNullOrEmpty(emp.Img))
                            {
                                <img src="~/img/chefs/@emp.Img" class="card-img-top" alt="@emp.FullName" style="object-fit: cover; height: 300px;" />
                            }
                            else
                            {
                                <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 300px;">
                                    <i class="bi bi-person-circle fs-1"></i>
                                </div>
                            }
                            <div class="member-info">
                                <h4>@emp.FullName</h4>
                                <p>@emp.Detail</p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <div class="alert alert-info text-center mb-0">
                        Không có dữ liệu nhân viên
                    </div>
                </div>
            }
        </div>
    </div>
</section><!-- /Chefs Section -->
